.hall {
  width: 80%;
  margin: 0 auto;
  font-family: 'Bricolage Grotesque';

  .slider {
    position: relative;

    .slide {
      position: relative;

      .slider-image {
        width: 100%;
        height: auto;
      }

      .slider-overlay {
        position: absolute;
        top: 10px;
        left: 10px;
        background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
        color: white;
        padding: 5px;
        text-align: left;
        font-size: 1rem;
        max-width: 100%; /* Ensure the text doesn't overflow the image */
        display: none; /* Hide the overlay by default */

        /* Responsive adjustments */
        @media (max-width: 1200px) {
          font-size: 0.9rem;
          padding: 4px;
        }

        @media (max-width: 992px) {
          font-size: 0.8rem;
          padding: 3px;
        }

        @media (max-width: 768px) {
          font-size: 0.7rem;
          padding: 2px;
        }

        @media (max-width: 576px) {
          font-size: 0.6rem;
          padding: 1px;
        }
      }

      .read-more-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #FF4500;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 1rem;
        z-index: 10;

        &:hover {
          background-color: #cc3700;
        }

        /* Responsive adjustments */
        @media (max-width: 1200px) {
          padding: 4px 8px;
          font-size: 0.9rem;
        }

        @media (max-width: 992px) {
          padding: 3px 6px;
          font-size: 0.8rem;
        }

        @media (max-width: 768px) {
          padding: 2px 5px;
          font-size: 0.7rem;
        }

        @media (max-width: 576px) {
          padding: 1px 4px;
          font-size: 0.6rem;
        }
      }

      &:hover .slider-overlay {
        display: block; /* Show the overlay on hover */
      }
    }
  }
}

.title {
  color: #FF4500;
  font-size: 2em;
  padding-top: 2vw;
  font-family: 'Bricolage Grotesque';
}

.capacity {
  font-size: 1.2em;
  margin-top: 0.5em;
  font-family: 'Bricolage Grotesque';
}

.description {
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: 'Bricolage Grotesque';
}

.slider {
  position: relative;
  width: 100%;
  max-width: 1300px;
  // max-height: 500px;
  margin: 0 auto;
  border-radius: 0px;
}

.slider img {
  width: 100%;
  // height: auto;
  border-radius: 10px;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button:before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #ccc;
  display: block;
  border-radius: 0; /* No border-radius for square */
}

.slick-dots li.slick-active button:before {
  background-color: #FF4500;
}

.custom-dot {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slick-dots li.slick-active .custom-dot {
  background-color: #FF4500;
}
