.terms-and-conditions {
    width: 80%;
    margin: 0 auto;
    font-family: 'Bricolage Grotesque';
    padding-top: 2vh;
  
    .title {
      color: #FF4500;
      font-size: 2em;
      padding-top: 2vw;
      font-family: 'Bricolage Grotesque';
    }
  
    .content {
      font-size: 0.8em;
      margin-top: 1em;
      margin-bottom: 2em;
      font-family: 'Bricolage Grotesque';
  
      .paragraph {
        margin-bottom: 1em;
      }
    }
  
    .view-details-button {
      text-align: center;
      margin-top: 2em;
  
      .details-button {
        background-color: #FF4500;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #e63900;
        }
      }
    }
  }
  