.facility-container {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 2em;
}

.facility-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto; // Center the grid within the container
}

.facility-card {
    position: relative;
    width: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover .facility-gradient {
        opacity: 1;
    }
}

.facility-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.facility-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, #FE3600, transparent);
    opacity: 0.8;
}

.facility-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    h2 {
        margin: 0;
        font-size: 1.3em;
    }
}

.load-more {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #ff5722;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.load-more:hover {
    background-color: #e64a19;
}

@media (max-width: 767px) {
    .facility-card {
        width: calc(100% - 20px); // One card per row on small screens
    }

    h1 {
        font-size: 2em; // Adjust font size for smaller screens
    }

    .facility-info h2 {
        font-size: 1em !important; // Adjust font size for smaller screens
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; // Further adjust font size for very small screens
    }

    .facility-info h2 {
        font-size: 0.7em !important; // Further adjust font size for very small screens
    }
}
