.project {
  padding: 80px 0;
  position: relative;
  background-color: #412E27;
}

.project h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: white; 
}

.project p {
  color: #B8B8B8;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 80%; 
  max-width: 600px; 
}

.project .nav.nav-pills {
  width: 80%; 
  max-width: 600px; 
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 16px; 
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90deg, #412E27, #FE3600); 
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.project-card {
  flex: 1 1 calc(33.333% - 1rem); 
  max-width: 500px; 
  margin: 0.5rem;
  position: relative; 
}

/* Responsive design */
@media (max-width: 1292px) {
  .project-card {
    flex: 1 1 calc(33.333% - 1rem); 
  }

  .projects-row {
    justify-content: center; 
  }
}

@media (max-width: 768px) {
  .project-card {
    flex: 1 1 calc(50% - 1rem);
    max-width: 450px;
  }

  .project p {
    width: 90%;
  }

  .project .nav.nav-pills {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .project h2 {
    font-size: 36px; 
  }

  .project p {
    font-size: 16px; 
  }

  .project .nav.nav-pills .nav-link {
    font-size: 14px;
  }

  .project-card {
    flex: 1 1 calc(100% - 1rem);
    max-width: 320px; 
    margin: 0.5rem;
  }

  .project-card::after {
    content: "Tap the image for more info";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .proj-imgbx {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .proj-imgbx img {
    max-width: 100%;
    height: auto;
  }
}


.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90deg, #412E27, #FE3600);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h3 {
  font-size: 23px;
  padding-bottom: 4px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  font-style: italic;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
