article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

::selection {
	background-color: grey;
	color: white;
}

::-moz-selection {
	background-color: grey;
	color: white;
}

/* @import url("https://use.typekit.net/euz1eqv.css"); */

/* html {
	background: #fff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #ffffff;
	z-index: 0;
} */
main {
	position: relative;
	width: 100%;
	height: 100vh;
}

#slider {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	canvas {
		width: 150%;
		height: 150%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}

	img {
		width: 100%;
		max-width: 100%;
    height: 100%;
		position: relative;
		z-index: -1;
	}
}

.slider-inner {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1060px;
	height: 100%;
	margin: 0 auto;
	z-index: 5;
}

#slider-content {
  margin-top: 15rem;
	padding: 0 10px;
  z-index: 99999;
	h2 {
		font-family: 'acta-display', serif;
		font-weight: 400;
		font-size: 50px;
    	width: 90%;
		letter-spacing: -1px;
		color: white;
		line-height: 50px;
		margin: 10px 0 10px;

		@media screen and (min-width: 800px) {
			font-size: 80px;
			line-height: 100px;
		}
	}

	span {
		display: none;
	}

	.meta {
		display: inline-block;
		font-family: 'Arial', sans-serif;
		font-size: 14px;
		letter-spacing: 5px;
		color: #cccccc;
    	font-weight: 600;
		text-transform: uppercase;
		position: relative;
		@media screen and (min-width: 800px) {
			font-size: 20px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			right: -55px;
			width: 45px;
			height: 2px;
			background-color: #71797e;
		}
	}

	#slide-status {
		margin-top: 10px;
		font-family: 'acta-display', serif;
		font-weight: 400;
		font-size: 18px;
		color: white;

		@media screen and (min-width: 800px) {
			font-size: 34px;
		}
	}
}

#pagination {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	z-index: 6;

	button {
		display: block;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 0;
		width: 16px;
		height: 16px;
		background-color: #FFFFFF;
		border-radius: 100%;
		padding: 0;
		margin: 30px 0;
		cursor: pointer;
		position: relative;
		opacity: 0.2;
		transition: opacity 0.2s ease-in-out;
		outline: none;

		&:hover {
			opacity: 0.5;
		}

		&.active {
			opacity: 1;

			&:before {
				width: 300%;
				height: 300%;
				opacity: 1;
			}
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			border-radius: 100%;
			border: 1px solid rgba(255, 255, 255, 0.63);
			opacity: 0;
			transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
		}
	}
}

/* Page Loader */
.loading {

	&:before {
		content: '';
		position: fixed;
		z-index: 100000;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
	}

	&:after {
		content: '';
		position: fixed;
		z-index: 100000;
		top: 50%;
		left: 50%;
		width: 60px;
		height: 60px;
		margin: -30px 0 0 -30px;
		pointer-events: none;
		border-radius: 50%;
		opacity: 0.4;
		background: white;
		animation: loaderAnim 0.7s linear infinite alternate forwards;
	}
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

@media only screen and (max-width: 600px) {
	#slider {
		img{
			width: fit-content;
		}
	}
	#slider-content {
		margin-top: 25rem;
		margin-left: 2.5rem;
		  h2 {
			  font-size: 24px;
			  width: 80%;
		  }
		}	  
}

#about-us-info{
	height: 100px;
	margin: 5rem 10rem;
	.about-us-content{
		margin: 5rem 0;
		.about-us-content-row{
			display: flex;
			padding: 1rem 0;
			h2{
				font-family: Abhaya Libre;
				font-weight: 800;
				font-size: 24px;
				color: #000;
			}
			p{
				font-family: Abhaya Libre;
				padding: 2rem;
				font-size: 20px;
				color: #000;
			}
			img{
				width: 100%;
				height: 400px;
			}
		}
		#view-in-phone{
			display: none;;
		}
	}
}

@media only screen and (max-width: 800px) {
	#about-us-info{
		height: 100px;
		margin: 5rem 2rem;
		.about-us-content{
			margin: 0 0;
			.about-us-content-row{
				display: flex;
				flex-direction: column;
				padding: 1rem 0;
				h2{
					font-family: Abhaya Libre;
					font-weight: 800;
					font-size: 24px;
					color: #000;
				}
				p{
					font-family: Abhaya Libre;
					padding: 2rem;
					font-size: 20px;
					color: #000;
				}
				img{
					width: 100%;
					height: 400px;
				}
			}
			#hide-in-phone{
				display: none;
			}
			#view-in-phone{
				display: flex;
				flex-direction: column;
			}
		}
	}
	
}


@media only screen and (max-width: 800px) {
	#about-us-info{
		margin: 5rem 0;
		text-align: center;
		.about-us-content{
			.about-us-content-row{
				padding: 1rem 0;
				h2{
					font-size: 18px;
				}
				p{
					font-family: Abhaya Libre;
					padding: 1;
					font-size: 16px;
					color: #000;
				}
				img{
					width: 100%;
					height: 400px;
				}
			}
			#hide-in-phone{
				display: none;
			}
			#view-in-phone{
				display: flex;
				flex-direction: column;
			}
		}
	}
	
}