@font-face {
    font-family: 'Qellia';
    src: url('./Qellia-Personal\ Use\ Only.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .custom-select select {
    display: none;
  }
  
  .select-selected {
    background-color: white;
    border: 1px solid #FE3600;
    color: #FE3600;
    padding: 12px;
    height: 38px;
    margin-bottom: 8px;
    width: 261px;
    font-size: 12px;
    font-family: 'Bricolage Grotesque';
    appearance: none;
    position: relative;
  }
  
  .select-selected::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 10px;
    border: 6px solid transparent;
    border-color: #FE3600 transparent transparent transparent;
  }
  
  .select-selected:hover {
    border-color: #FE3600;
  }
  
  .select-items div, .select-selected {
    color: #FE3600;
    padding: 12px;
    cursor: pointer;
    user-select: none;
  }
  
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .select-items div {
    color: black;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  .select-items div:hover {
    background-color: #FE3600;
    color: white;
  }
  
  .select-hide {
    display: none;
  }
  