.climateMain {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #291b16;
    padding: 20px; /* Add some padding to the main container */
  }
  
  .buttonDiv {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .buttonDiv button {
    border: none;
    padding: 0.3em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    color: #ffffff;
    display: flex;
  }
  
  .cardDiv {
    display: flex;
    flex-wrap: wrap; /* Allow the cards to wrap if there's not enough space */
    justify-content: space-evenly;
    gap: 20px; /* Gap between cards */
    width: 100%;
    // max-width: 1200px; /* Optional max-width to limit the card container */
    margin-top: 2%;
  }
  
  .card {
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    --large-text-size: 1em;
    opacity: 0.9;
    width: calc(100% / 3 - 40px); /* Adjust width to have 3 cards per row with some space */
    max-width: 300px; /* Optional max-width for each card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for cards */
    justify-content: center;
  }
  
  .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  .card .content img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; /* Rounded corners for the top of the image */
  }
  
  .card .content h1,
  .card .content h3,
  .card .content h4,
  .card .content p {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
  }
  
  .card .content h1 {
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .card .content h3 {
    font-size: 1.2em;
  }
  
  .card .content h4 {
    font-size: 1em;
  }
  
  .card .content p {
    font-weight: 400;
    font-size: calc(var(--large-text-size) * 0.7);
    white-space: nowrap;
  }
  
  .card .content .bold {
    font-weight: 700;
    font-size: var(--large-text-size);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .card {
      width: calc(100% / 2 - 20px); /* Two cards per row on smaller screens */
    }
  }
  
  @media (max-width: 500px) {
    .card {
      width: calc(100% - 20px); /* Full width on mobile screens */
    }
  }
  