.gate__container {
    background-image: url('../assets/gate/bg.png');
    width: 100vw;
    height: 980px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    .gateLeft {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .gateRight {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .firststack {
        position: absolute;
        left: 254px;
        top: 380px;
        width: 1030px;
    }

    .secondstack {
        position: absolute;
        left: 269px;
        top: 243px;
        width: 1000px;
    }

    .thirdstack {
        position: absolute;
        left: 282px;
        top: 60px;
        width: 970px;
    }
}