.header__container {
    height: 70px;
    background-color: #FE3600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 30px;
    position: sticky;  /* Make the header sticky */
    top: 0;            /* Stick to the top */
    z-index: 1000;

    .small__navigation {
        position: absolute;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #FE3600;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        display: none;

        .small_navigation__container {
            display: flex;
            width: 80%;
            gap: 10%;

            .header__nav {
                font-size: 1rem;
                font-weight: bold;
                color: white;
                position: relative;
                cursor: pointer; /* Change cursor on hover */

                &:hover {
                    cursor: pointer; /* Ensure pointer cursor on hover */
                }

                &.active::after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50%;
                    height: 2px;
                    background-color: white;
                }

                &.active::before {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%) rotate(45deg);
                    width: 10px;
                    height: 10px;
                    background-color: white;
                }
            }
        }
    }

    .logo__container {
        display: flex;
        justify-content: center;
        align-items: center;
        .header__logo__title__container {
            margin-left: 10px;
            .header__dungkar {
                font-size: 2rem;
                color: white;
                font-weight: bold;
            }
    
            .header__sub {
                color: white;
                font-size: 16px;
            }
        }
    }

    .hamburger__menu {
        display: none;
    }

    .header__navigation__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__nav {
            font-size: 20px;
            font-weight: bold;
            color: white;
            margin-right: 25px;
            position: relative;
            cursor: pointer; /* Change cursor on hover */

            &:hover {
                cursor: pointer; /* Ensure pointer cursor on hover */
            }

            &.active::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 2px;
                background-color: white;
            }

            &.active::before {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                width: 10px;
                height: 10px;
                background-color: white;
            }
        }
    }
}

@media (max-width: 768px) {
    .header__container {
        .header__navigation__container {
            display: none;
        }

        .hamburger__menu {
            display: block;
            margin-right: 0.1%;
        }

        .small__navigation {
            display: flex;
        }
    }
}
