.institute__container {
    // background-color: #291B16;
    border-bottom: 1px solid gray;

    .title {
        color: white;
        display: flex;
        justify-content: center;
        font-size: 32px;
        padding-top: 30px;
    }

    .description {
        color: white;
        margin-top: 30px;
        margin-left: 60px;
        margin-right: 60px;
        font-size: 14px;
    }

    .institute__button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}