// LoadingAnimation.scss
@font-face {
  font-family: 'Qellia';
  src: url('../assets/Qellia-font/Qellia-Personal\ Use\ Only.otf') format('opentype');
}
.loading-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: linear-gradient(to top right, rgba(255, 120, 62, 1), rgba(242, 210, 94, 1));/* or any other background */
    z-index: 9999; /* Ensure it covers the entire screen */
    color: white;
  }
  
  .spinner {
    border: 4px solid rgb(253, 101, 12);
    border-left-color: #f3a72f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  .dungkarText{
    font-size: 120px;
    font-family: 'Qellia';
    font-weight: bold;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 480px) {
    .dungkarText{
      font-size: 80px;
    }
  }
  