.navigation {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: relative;
  z-index: 99;

  .col {
    width: 33.26%;
    height: auto;
    background-color: #FE3600;
    padding: 10px 10px;
    border-top: 30px solid lighten(#FE3600, 10%);
    
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 30px;
      margin-right: 30px;

      .our__story {
        color: white;
        font-size: 25px;
      }
    }

    .description {
      color: white;
      margin-top: 10px;
      font-size: 14px;
      margin-left: 30px;
      margin-right: 30px;
    }

    .gallary__container {
      display: flex;
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 45px;
      margin-top: 10px;
      
      img {
        width: auto;
        height: auto;
        max-width: 100px; // Ensuring images remain small
        max-height: 100px; // Ensuring images remain small
      }
    }
  }
}

.svg__button {
  border: none;
  background-color: transparent;
  outline: none;
  &:focus {
    outline: none;
  }
}

@media (max-width: 1024px) { // Tablet
  .navigation {
    flex-direction: column;
    align-items: center;

    .col {
      width: 100%;
      // margin-bottom: 20px;

      .title {
        margin-left: 20px;
        margin-right: 20px;

        .our__story {
          font-size: 22px;
        }
      }

      .description {
        font-size: 13px;
        margin-left: 20px;
        margin-right: 20px;
      }

      .gallary__container {
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;

        img {
          margin: 0 5px; // Add some margin for spacing
        }
      }
    } 
  }
}

@media (max-width: 768px) { // Phone
  .navigation {
    // padding: 10px;
    flex-direction: column;
    align-items: center;

    .col {
      width: 100%;
      padding: 10px;
    }
  }
}
