.event__container1 {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    .event__title1 {
        font-size: 48px;
        color:  #FE3600;
        font-weight: bold;
        margin-left: 98px;
    }

    .news1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .event__innercontainer1 {
            display: grid;
            grid-template-columns: repeat(2, 512px);
            gap: 20px; /* Adjust the gap between columns if needed */

            .card1 {
                height: 362px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .event__description__container1 {
                    position: absolute;
                    bottom: 0;
                    height: 111px;
                    width: 100%;
                    background-color: rgba(254, 54, 0, 0.6);
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 30px;

                    .title1 {
                        font-size: 36px;
                    }

                    .sub1 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (min-width:871px) and (max-width: 1087px) {
    .event__container1 {
        .event__title1 {
            font-size: 40px;
            color:  #FE3600;
            font-weight: bold;
            margin-left: 5px;
        }

        .news1 {
            .event__innercontainer1 {
                grid-template-columns: repeat(2, 400px);
    
                .card1 {
                    height: auto;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
    
                    // .event__description__container1 {
                    //     position: absolute;
                    //     bottom: 0;
                    //     height: 111px;
                    //     width: 100%;
                    //     background-color: rgba(254, 54, 0, 0.6);
                    //     color: white;
                    //     display: flex;
                    //     flex-direction: column;
                    //     justify-content: center;
                    //     padding-left: 30px;
    
                    //     .title1 {
                    //         font-size: 36px;
                    //     }
    
                    //     .sub1 {
                    //         font-size: 15px;
                    //     }
                    // }
                }
            }
        }
    }
}

@media (min-width:360px) and (max-width: 870px) {
    .event__container1 {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;

        .event__title1 {
            font-size: 30px;
            color:  #FE3600;
            font-weight: bold;
            margin-left: 5px;
        }

        .news1 {
            width: 100%;
            .event__innercontainer1 {
                grid-template-columns: repeat(1, 1fr);
                width: 100%;
    
                .card1 {
                    height: auto;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
    
                    .event__description__container1 {
                        .title1 {
                            font-size: 30px;
                        }
    
                        .sub1 {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}