@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@font-face {
    font-family: 'Qellia';
    src: url('../assets/Qellia-font/Qellia-Personal\ Use\ Only.otf') format('opentype');
}
body {
    background-color: transparent;
}
*{
    font-family: "Bricolage Grotesque";
    font-style: normal;
}
.main{
    // width: 100%;
    min-height: 100vh;
    height: 120vh;
    width: 100vw;
    // overflow: hidden;
    // position: relative;
    display: grid;
    // place-items: center;
    // position: fixed;
    overflow: hidden;
    
}

.Text{
    z-index: 9;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #FFFFFF;
    align-items: center;
    height: fit-content;

}
.Title{
    font-size: 7vw;
    font-family: 'Qellia';
    font-weight: bold;
}

.subTitle{
    font-size: 3vw;
    padding: 0 !important;
    margin: 0 !important;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
  font-style: normal;
}
.dzong{
    background-size: contain;
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    // height: 80vh;
    width: 100%;
    height: fit-content;

    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.sky{
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: 0;
}

.mountainBG{
    background-size: contain;
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
    height: auto;
    width: 100%;
}
.mountainFG{
    position: absolute;
    bottom: 25%;
    z-index: 2;
}
.mountainFG2{
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    top: 15%;
    right: 0;
    z-index: 2;
    background-size: contain;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
// .buttonDiv{

// }
 .main button {
    // color: black;
    border: none;
    padding: 0.3em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50px;
    color: #FFFFFF;
    display: flex;
  }
  
  .cardDiv{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 2%;
  }
  .card{
        color: white;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        // background-color: #1a1a1a;
        cursor: pointer;
        transition: border-color 0.25s;
        --large-text-size: 1em;
        opacity: 0.8;
  }
  .card .content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
}
.card .content h1{
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: bold;
    font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.card .content p{
    font-family: "Bricolage Grotesque", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--large-text-size) * 0.7);
    white-space: nowrap;
}
.card .content .bold{
    font-family: "Bricolage Grotesque", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--large-text-size);
}
@media screen and (max-width: 1024px) {
    .main{
        height: 101vh;
    }
    .Title {
        font-size: 8vw;
    }
    .subTitle {
        font-size: 3vw;
    }
    .sky{
        height: fit-content;
    }
    .dzong {
        top: 60%;
    }
    .mountainFG {
        top: 60%;
    }
    .mountainFG2 {
        left: 30%;
        top: 45%;
        // object-fit: cover;
        // width: 40%;
    }
    .mountainBG{
        height: fit-content;
    }
    .cardDiv{
        width: 100%;
    }
    .card{
        padding: 0.5em 1em;
        font-size: 0.8em;
    }
}

  
@media screen and (max-width: 480px) {
    .main .cardDiv .card .content h1{
        font-size: 1em;
    }
    .Text{
        height: 60vh;
        justify-content: space-evenly   ;
    }
    .logo{
        padding: 0 !important;
        height: 20vh !important;
        width: 20vh !important;
    }

    .Title {
        font-size: 12vw;
    }
    .subTitle {
        font-size: 9vw;
    }
    .buttonDiv{
        width: 100% !important;
    }
    .main button {
        font-size: 1em;
    }
    .card{
        padding: 0.4em 0.8em;
        font-size: 0.7em;
    }
    .dzong {
        top: 30%;
    }
    .mountainBG{
        top: 80%;
    }
    // .mountainFG {
    //     top: 35%;
    // }
    .mountainFG2 {
        left: 50%;
        top: 65%;
    }
}
