// @font-face {
//   font-family: 'Qellia';
//   src: url('./assets/Qellia-font/Qellia-Personal\ Use\ Only.otf') format('opentype');
// }

// .reveal {
//   height: 100vh;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   overflow-y: hidden;
//   overflow-x: hidden;
// }

// .clouds {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-wrap: wrap;
// }

// .cloud {
//   position: absolute;
//   opacity: 1;
//   pointer-events: none;
//   transition: all 5s ease-in-out;
// }

// .top-left {
//   top: 0;
//   left: 0;
//   width: 80%;
//   height: 70%;
//   background: url('../assets/cloudAnim1.png') no-repeat center center;
//   background-size: cover;
// }

// .top-right {
//   top: 0;
//   right: 0;
//   width: 70%;
//   height: 70%;
//   background: url('../assets/cloudAnim2.png') no-repeat center center;
//   background-size: cover;
// }

// .bottom-left {
//   bottom: 0;
//   left: 0;
//   width: 70%;
//   height: 70%;
//   background: url('../assets/cloudAnim3.png') no-repeat center center;
//   background-size: cover;
// }

// .bottom-right {
//   bottom: 0;
//   right: 0;
//   width: 70%;
//   height: 70%;
//   background: url('../assets/cloudAnim4.png') no-repeat center center;
//   background-size: cover;
// }

.clouds.move-out .top-left {
  transform: translate(-100%, -100%);
}

.clouds.move-out .top-right {
  transform: translate(100%, -100%);
}

.clouds.move-out .bottom-left {
  transform: translate(-100%, 100%);
}

.clouds.move-out .bottom-right {
  transform: translate(100%, 100%);
}

.clouds.move-in .top-left,
.clouds.move-in .top-right,
.clouds.move-in .bottom-left,
.clouds.move-in .bottom-right {
  transform: translate(0, 0);
}

// .video-container {
//   opacity: 0;
//   transition: opacity 10s ease-in-out;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }

// .video-container.revealed {
//   opacity: 1;
// }

// .logo {
//   height: 25vh;
//   width: 25vw;
// }

// .compass {
//   height: 10vh;
//   width: 10vh;
// }

// .text {
//   color: white;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .text h1 {
//   font-size: 8vw;
//   font-family: 'Qellia';
//   font-weight: bold;
// }

// .text h2 {
//   font-size: 3vw;
//   font-family: "Bricolage Grotesque";
//   font-weight: 700;
// }

// .video {
//   width: 100vw;
//   height: 100vh;
//   object-fit: cover;
//   filter: brightness(0.8) contrast(1.2) saturate(1.2);
// }

// .overlayReveal {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   z-index: 2;
//   // background: linear-gradient(to top right, rgba(255, 150, 74, 0.16), rgba(255, 168, 38, 0.4));
// }

// .explore-button-wrapper {
//   position: relative;
//   width: 100%;
//   height: 40vh;
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   overflow: hidden;
// }

// .explore-button-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .explore-button, .explore-more-button {
//   padding: 10px 20px;
//   background-color: transparent;
//   font-size: 3vw;
//   font-family: 'Qellia';
//   font-weight: bold;
//   color: #FE3600;
//   border: none;
//   cursor: pointer;
//   z-index: 4;
// }

// .Buttoncloud {
//   position: absolute;
//   bottom: 0;
//   width: 200%;
//   height: 100%;
//   background: url('./assets/clouds2.svg') repeat-x;
//   background-size: 50% 100%;
//   animation: moveClouds 30s linear infinite;
// }

// @keyframes moveClouds {
//   0% { transform: translateX(0); }
//   100% { transform: translateX(50%); }
// }

// @media (max-width: 768px) {
//   .explore-button, .explore-more-button {
//     font-size: 16px;
//     padding: 8px 16px;
//   }
// }

// @media (max-width: 480px) {
//   .explore-button, .explore-more-button {
//     font-size: 14px;
//     padding: 6px 12px;
//   }
// }

@font-face {
  font-family: 'Qellia';
  src: url('./assets/Qellia-font/Qellia-Personal\ Use\ Only.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

.reveal {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  
  .cloud {
    position: absolute;
    // background-size: cover;
    // width: 70%;
    // height: 70%;
    opacity: 1;
    pointer-events: none;
    transition: all 5s ease-in-out;
  }
  
  .top-left {
    top: 0;
    left: 0;
    width: 80%;
    height: 70%;
    background: url('../assets/cloudAnim1.png') no-repeat center center;
    background-size: cover;
  }
  
  .top-right {
    top: 0;
    right: 0;
    width: 70%;
    height: 70%;
    background: url('../assets/cloudAnim2.png') no-repeat center center;
    background-size: cover;
  }
  
  .bottom-left {
    bottom: 0;
    left: 0;
    width: 70%;
    height: 70%;
    background: url('../assets/cloudAnim3.png') no-repeat center center;
    background-size: cover;
  }
  
  .bottom-right {
    bottom: 0;
    right: 0;
    width: 70%;
    height: 70%;
    background: url('../assets/cloudAnim4.png') no-repeat center center;
    background-size: cover;
  }
  
  // &.move-in .cloud {
  //   transform: translate(0, 0);
  // }
  
  // &.move-out .cloud .top-left {
  //   transform: translate(-100%, -100%);
  // }
  // &.move-out .cloud .top-right {
  //   transform: translate(100%, -100%);
  // }
  // &.move-out .cloud .bottom-left {
  //   transform: translate(-100%, 100%);
  // }
  // &.move-out .cloud .bottom-right {
  //   transform: translate(100%, 100%);
  // }
}

.video-container {
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  
  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-fit: cover;
    filter: brightness(0.8) contrast(1.2) saturate(1.2);
  }
  
  &.revealed {
    opacity: 1;
  }
}

.overlayReveal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .text {
    text-align: center;
    
    h2 {
      font-size: 4vw;
      margin: 0;
      color: white;
      font-family: "Bricolage Grotesque";
    font-weight: 700;
  font-style: normal;
    }
    
    h1 {
      font-size: 8vw;
      margin: 0;
      color: white;
      font-family: 'Qellia';
      font-weight: bold;
    }
  }
  
  .explore-button-wrapper {
    position: relative;
    margin-top: 20px;

    .Buttoncloud {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      
      width: 100px;
      height: 50px;
    }
    
    .explore-button-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      background: url('../assets/cloud.png'), url('../assets/cloud.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: 40vh;
      
      .explore-button {
        background-color: none !important;
        color: #FE3600;
        background: none;
        border: none;
        padding: 10px 20px;
        font-family: 'Qellia';
        font-weight: bold;
        font-size: 3vw;
        cursor: pointer;
        transition: background-color 0.3s;
        
        &:hover {
          color: black;
        }
      }
      
      .compass {
        width: 10vw;
        height: auto;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width:1028px){
  .clouds .top-left{
    background-size: 100% 100%;
  }
  .clouds .top-right{
    background-size: 100% 100%;
  }
  .clouds .bottom-left{
    background-size: 100% 100%;
  }
  .clouds .bottom-right{
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 480px) {
  .overlayReveal .text h2{
    font-size: 8vw;
  }
  .overlayReveal .text h1{
    font-size: 10vw;
  }
  .overlayReveal .explore-button-wrapper .explore-button-container .explore-button {
    font-size: 10vw;
  }
  .overlayReveal .explore-button-wrapper .explore-button-container .compass {
    width: 20vw;
  }
  // .clouds .top-left{
  //   background-size: 100% 100%;
  // }
  // .clouds .top-right{
  //   background-size: 100% 100%;
  // }
  // .clouds .bottom-left{
  //   background-size: 100% 100%;
  // }
  // .clouds .bottom-right{
  //   background-size: 100% 100%;
  // }
}
