.blueprint__container {
  position: relative;
  width: 70%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the transparency as needed */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.blueprint__container:hover .overlay {
  opacity: 1;
}

.text {
  padding: 20px;
  max-width: 80%;
  text-align: left;
  line-height: 1.5;
}

// .text h2 {
//   margin-bottom: 10px;
// }

// .text ul {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }

// .text li {
//   margin-bottom: 5px;
// }
