.ourStory__main__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ourStory__container {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hexagons {
  transform: rotate(30deg);
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Added for absolute positioning of hexagons */
}

.hexagon {
  width: 200px;
  height: 200px;
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
  background-size: cover;
  background-position: center;
  position: relative;
}

.center-hexagon {
  /* Ensure the center hexagon has the same size and shape */
  width: 200px;
  height: 200px;
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
  background-size: cover;
  background-position: center;
}

.hexagon__overlay {
  background-color: gray;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}