.news-banner {
    color: #ff4500;
    padding: 20px;
    text-align: center;
    font-family: 'Bricolage Grotesque';
}

.facility-details-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Bricolage Grotesque';
    padding-bottom: 20px;
}

h3 {
    color: #ff4500;
    text-align: left;
    padding-bottom: 10px;
}

.facility-cover {
    position: relative;
}

.facility-photo {
    width: 100%;
    // height: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 20px 20px 0 0;
}

.facility-overlay {
    position: absolute;
    bottom: 24px;
    max-width: 350px;
    left: 0;
    right: 0;
    background-color: rgba(255, 69, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 0 20px 0 0;
    text-align: center;
}

.facility-description {
    font-size: 14px;
    padding-bottom: 10px;
    text-align: left;
}

.facility-images {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-content: center;
}

.facility-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.uploaded-image-container {
    margin-top: 20px;
}

.uploaded-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 1034px) {
    .facility-images {
        grid-template-columns: repeat(3, 1fr); /* 3 columns when the width is 1034px or less */
    }
}

@media (max-width: 564px) {
    .facility-images {
        grid-template-columns: repeat(2, 1fr); /* 3 columns when the width is 1034px or less */
    }
}

@media (max-width: 378px) {
    .facility-images {
        grid-template-columns: repeat(1, 1fr); /* 3 columns when the width is 1034px or less */
    }
}