
#academic {
    background-color: #291b16;
    z-index: 1000 !important;
    position: relative;
    .academic__title {
        color: #FE3600;
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
    }
}

$containermargin:50px;

.framework__container {
    display: flex;
    justify-content: center;
    align-items: center;
    .table__container {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 309px));
        gap: 20px;
        margin-top: 30px;
        
        .row {
            table {
                color: white;
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0px;
            }
            th {
                padding: 8px;
                text-align: center;
                background-color: #523931;
            }
            td {
                padding: 8px;
                text-align: left;
                background-color: #523931;
                padding-left: 15px;
                padding-block: 15px;
            }
            th {
                background-color: #FE3600;
            }
        }
    }
}

@media (max-width: 600px) {
    .framework__container {
        .table__container {
            gap: 2px;
            grid-template-columns: repeat(1, 309px);
            margin-left: 20px;
            margin-right: 20px;
        }
    }
   
}

@media (min-width: 601px) and (max-width:768px) {
    .framework__container {
        .table__container {
            gap: 2px;
            grid-template-columns: repeat(2, 309px);
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;

    .skill__container {
        // display: grid;
        // grid-template-columns: repeat(7,132px);
        // gap: 7px;
        margin-block: 30px;
        display: flex;
        gap: 7px;
        flex-wrap: wrap;
        justify-content: center;
        .skill__row {
            color: white;
            text-align: center;
            padding-block: 6px;
            background-color: #6B4C41;
            width: 132px;
        }
    }

}


.svg__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: $containermargin;
    margin-right: $containermargin;

    .sideTable__container {
        width: 139px;

        .sideTable {
            width: 100%;

            .rowExtra {
                td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    margin-top: -10px;
                }
            }

            .row {
                td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    margin-bottom: 10px;
                    background-color: #523931;
                }
            }
        }
    }

    .svg__innercontainer {
        .svg__title {
            font-size: 20px;
            color: white;
            text-align: center;
            margin-block: 10px;
        }

        .svg {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 50px;
            overflow: hidden;

        }
    }

    .attributes__container {
        width: 100%;
        .attributes_titlecontainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .attributes__title {
                font-size: 15px;
                color: #FE3600;
                text-align: center;
                margin-top: 30px;
                border: 2px solid #FE3600;
                width: 300px;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
    }

    .attributes {
        width: 100%;
        // display: grid;
        // grid-template-columns: repeat(9,152px);
        gap: 6px;
        margin-block: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .skill__row {
            color: white;
            text-align: center;
            padding-block: 6px;
            background-color: #6B4C41;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 153px;
            height: 40px;
        }
    }
}

@media (max-width: 600px) {
    .main__container {
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;

        .sideTable__container {
            width: 150px;
    
            .sideTable {
                width: 100%;
    
                .rowExtra {
                    td {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        margin-top: -10px;
                    }
                }
    
                .row {
                    td {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        margin-bottom: 10px;
                        background-color: #523931;
                        width: 100%;
                    }
                }
            }
        }

        .svg {
            flex-direction: column;
            gap: 40px;
        }
    }
   
}

@media (min-width: 601px) and (max-width:1350px) {
    .main__container {
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;

        .sideTable__container {
            margin-top: 30px;
        }

        // .svg {
        //     flex-direction: column;
        //     gap: 40px;
        // }
    }
}