@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    ::-webkit-scrollbar {
      display: none;
    }
    scroll-behavior: smooth !important;
    overflow-y: scroll;
    scrollbar-width: none;
      -ms-overflow-style: none;
    overflow-x: hidden; 
    
  }
  .logo {
    padding: 1.5em;
  }