.banner {
    margin-top: 0;
    padding-top: 0; /* Ensure no extra padding at the top */
    background-color: #412E27;
    padding: 10px; /* Adjust bottom padding to ensure the content is well spaced */
  }
  
  .banner h1 {
    width: 100%;
    text-align: left; /* Align text to the left */
    padding-top: 10px;
    padding-left: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .banner .tagline {
    max-width: 80%;
    font-weight: 700;
    text-align: center; /* Center horizontally */
    align-items: center;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .banner h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: center; /* Center horizontally */
  }
  
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    margin: 0 auto;
    text-align: center; /* Center horizontally */
  }
  
  .banner img {
    animation: updown 3s linear infinite;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  
  @keyframes updown {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1200px) {
    .banner h1 {
      font-size: 1.75rem;
    }
    .banner h2 {
      font-size: 45px;
    }
    .banner p {
      font-size: 16px;
    }
  }
  
  @media (max-width: 992px) {
    .banner h1 {
      font-size: 1.5rem;
    }
    .banner h2 {
      font-size: 40px;
    }
    .banner p {
      font-size: 15px;
    }
  }
  
  @media (max-width: 768px) {
    .banner h1 {
      font-size: 1.25rem;
    }
    .banner h2 {
      font-size: 35px;
    }
    .banner p {
      font-size: 14px;
    }
    .banner .tagline {
      font-size: 18px;
      padding: 6px 8px;
    }
  }
  
  @media (max-width: 576px) {
    .banner h1 {
      font-size: 1rem;
    }
    .banner h2 {
      font-size: 30px;
      padding-top: 0;
    }
    .banner p {
      font-size: 13px;
    }
    .banner .tagline {
      font-size: 16px;
      padding: 4px 6px;
    }
    .banner img {
      margin-top: 20px; /* Add space above the image */
    }
  }
  