.slider-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 30vw;

  .slick-list {
    width: 100%;
  }

  .slick-slide {
    margin: 0 auto;
  }

  .slider-image {
    width: 100%;
    height: auto;
  }

  .slide {
    position: relative;
    color: #fff;
    text-align: left;
    height: 100%;

    .slide-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 1);
      padding: 2vw;
      box-sizing: border-box;
      height: 10vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s ease-in-out;

      .slide-content {
        flex: 1;
        overflow: hidden;
      }
    }

    .slide-title {
      font-size: 1.5vw;
      font-weight: bold;
      font-family: 'Bricolage Grotesque';
      padding-bottom: 1vw;
    }

    .slide-description {
      font-size: 0.8vw;
      font-family: 'Bricolage Grotesque';
      padding-bottom: 0.5vw;
      padding-right: 2vw;
    }

    .slide-capacity {
      font-size: 0.8vw;
      padding-bottom: 1vw;
      color: #fe3600;
      font-family: 'Bricolage Grotesque';
      margin: 0;
    }

    .view-details-button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Bricolage Grotesque';

      .details-button {
        background-color: #fe3600;
        color: white;
        font-family: 'Bricolage Grotesque';
        padding: 1vw 2vw;
        width: 100%;
        max-width: 15vw;
        border-radius: 0.5vw;
        font-size: 0.8vw;
        border-color: #fe3600;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #d12d00;
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-50%);
    background-color: #fe3600;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-size: 30%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .slick-prev {
    left: -3vw;

    &::before {
      background-image: url('../Img/left.svg');
      color: #fff;
    }
  }

  .slick-next {
    right: -3vw;

    &::before {
      background-image: url('../Img/right.svg');
    }
  }

  @media screen and (max-width: 768px) {
    height: 50vw;

    .slide {
      height: 100%; 

      .slide-overlay {
        padding: 3vw !important;
        height: 30vw !important; 
        bottom: 0 !important; 
      }

      .slide-title {
        font-size: 2.5vw !important;
      }

      .slide-description {
        font-size: 1.5vw !important;
        padding-right: 0 !important;
      }

      .slide-capacity {
        font-size: 1.5vw !important;
        padding-top: 1.5vw !important;
        padding-bottom: 10vw !important;
      }

      .view-details-button {
        padding-bottom: 10vw;
      }

      .details-button {
        width: 2vw;
        height: 5vw;
        font-size: 1.5vw !important;
      }
    }

    .slick-prev,
    .slick-next {
      top: 40% !important;
      transform: translateY(-50%);
      background-color: #fe3600;
      width: 4vw;
      height: 4vw;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-size: 30%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  @media screen and (max-width: 480px) {
    height: 60vw !important;

    .slide {
      height: 100%;
      .slide-overlay {
        padding: 3vw !important;
        height: 20vw !important;
        bottom: 0 !important;
      }

      .slide-title {
        font-size: 2.5vw !important;
      }

      .slide-description {
        font-size: 1.5vw !important;
        padding-right: 0 !important;
      }

      .slide-capacity {
        font-size: 1.5vw !important;
        padding-top: 1vw !important;
        padding-bottom: 1vw !important;
      }

      .view-details-button {
        padding-top: 10vw;
      }

      .details-button {
        width: 3vw;
        height: 5vw;
        font-size: 1.5vw !important;
      }
    }

    .slick-prev,
    .slick-next {
      top: 50% !important;
      transform: translateY(-50%);
      background-color: #fe3600;
      width: 4vw;
      height: 4vw;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-size: 30%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
